:root {
  --primary-color: #2196f3;
  --baner-color: #2f303a;
  --background-text-color: #ffffff;
  --background-cards-color: #f5f4fa;
  --text-color-gray: #757575;
  --icon-color: #afb1b8;
  --normal-duration: 250ms;
  --normal-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #123123;
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  outline: transparent;
}

body {
  font-family: var(--primary-font);
  color: #212121;
}

body {
  width: 100%;
  height: 100%;
  background-color: #b2b2c6;
}

li {
  border-radius: 50%;
}

ul {
  padding: 0px 10px 0px 0px;
  margin: 10px;
}

.container {
  width: 1600px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
}

.box__row {
  border-radius: 50px;
  position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #464f48;
}

.box {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  font-size: 36px;
}

@media screen and (max-width: 900px) {
  .box__row {
    background-color: orange;
  }
}
.box:hover,
.box:focus,
.box::after {
  color: rgb(255, 238, 0);
}

.a {
  background-color: #3f51b5;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.a:hover, .a:focus, .a::after {
  color: rgba(255, 106, 0, 0.5);
  background-color: rgba(245, 243, 236, 0.5);
}
.a:hover, .a::before {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  scale: 0.9;
  -webkit-transition: none;
  transition: none;
}

.b {
  background-color: #4caf50;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.b:hover, .b:focus, .b::after {
  color: rgb(120, 19, 131);
  background-color: rgba(186, 32, 58, 0.5);
}
.b:hover, .b::before {
  scale: 0.9;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.c {
  background-color: #ffc107;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.c:hover, .c:focus, .c::after {
  color: rgb(255, 55, 0);
  background-color: rgba(65, 186, 32, 0.5);
}
.c:hover, .c::before {
  scale: 0.9;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.a1 {
  background-color: #137408;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.a1:hover, .a1:focus, .a1::after {
  color: rgba(229, 255, 0, 0.5);
  background-color: rgba(32, 186, 83, 0.5);
}
.a1:hover, .a1::before {
  scale: 0.9;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.b1 {
  margin-left: 300px;
  background-color: #9b2c22;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.b1:hover, .b1:focus, .b1::after {
  color: rgba(229, 255, 0, 0.5);
  background-color: rgba(66, 41, 178, 0.5);
}
.b1:hover, .b1::before {
  scale: 0.9;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.c1 {
  background-color: #13a0a0;
  -webkit-box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.c1:hover, .c1:focus, .c1::after {
  color: rgba(229, 255, 0, 0.5);
  background-color: rgba(186, 32, 32, 0.5);
}
.c1:hover, .c1::before {
  scale: 0.9;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}/*# sourceMappingURL=main.css.map */