:root {
    --primary-color: #2196f3;
    --baner-color: #2f303a;
    --background-text-color: #ffffff;
    --background-cards-color: #f5f4fa;
    --text-color-gray: #757575;
    --icon-color: #afb1b8;
    --normal-duration: 250ms;
    --normal-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}
